body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('pre5.jpg');
  color:blue;
}

header {
  background: #99447Eaa;
  color: blue;
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style: red;
  padding: 0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 40px;
  background: none;
  margin: 20px auto;
  width: 90%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#hero {
  background: #900;
  text-align: center;
  padding: 60px 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #00221Acc;
  color: blue;
}